* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body {
   padding: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
}

.first-list,
.second-list {
   margin-bottom: 30px;
}

.second-list {
   margin-bottom: 60px;
}

.first-list-item,
.second-list-item {
   line-height: 1.8;
}

.first-list-item li::before,
.second-list-item li::before {
   background: url(image/check-icon.svg) center/20px no-repeat;
   content: '';
   padding: 0 0 0 28px;
   cursor: default;
}

.first-list-item li:first-child {
   text-decoration: line-through;
}

.first-list-item li:nth-child(2) {
   font-weight: 700;
}

.first-list-item li:nth-child(3) {
   font-style: italic;
}

.first-list-item li:last-child {
   text-transform: uppercase;
}

.second-list-item li:nth-child(2)::before {
   content: '';
   background: url(image/check-icon-red.svg) center/20px no-repeat;
}

.second-list-item li:nth-child(2) {
   color: red;
}

.button-link {
   background-color: #80B7B3;
   display: inline-block;
   padding: 14px 25px;
   border-radius: 30px;
   color: white;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: 10px;
   margin: 0 0 60px;
}

.button-link span::after {
   padding: 0px 25px 0px 0px;
   content: '';
   background: url(image/Shape-2.svg) center/15px no-repeat;
}

.button-link:hover {
   background-color: #3A5856;
}

.button-link:active {
   background-color: #818181;
}

.input-text {
   border: 1px solid black;
   padding: 10px;
   font-size: 18px;
}

.input-text:focus {
   border: 1px solid aqua;
   box-shadow: 0 0 10px aqua;
}

form {
   margin: 0 0 60px 0;
}

.text {
   width: 760px;
   height: 280px;
   text-align: justify;
}

.text p {
   margin: 0 0 30px 0;
   line-height: 1.5;
}

.text p:first-child::first-line {
   color: red;
}

.text p:last-child::first-letter {
   color: red;
   font-size: 18px;
}