* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body {
   background-color: #E8E8E8;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   background-image: url(image/two-line.png);
   background-repeat: no-repeat;
   background-position: 350px 80px;
   background-size: 60% auto;
   background-attachment: scroll;
}

.header {
   width: 50%;
   margin: 120px auto auto;

}

.header-text {
   text-transform: uppercase;
   letter-spacing: 3px;
   color: rgba(39, 61, 70, 0.6);
   text-align: center;
   margin-bottom: 15px;
   font-size: 10px;
}

.title {
   font-family: 'Times New Roman', Times, serif;
   font-size: 28px;
   line-height: 1.4;
   text-align: center;
   color: rgba(39, 61, 70, 1);
   margin-bottom: 60px;
}

.image {
   margin: 0 auto 80px;
   width: 87%;
   height: auto;
   outline: 10px solid white;
   box-shadow: 2px 2px 30px black;
   display: flex;
   align-items: center;
   justify-self: center;
   transition: outline 0.3s ease-in;
}

.image:hover {
   outline: 10px solid #275653;
}

.main-text {
   width: 78%;
   margin: 0 auto;
}

.text {
   margin-bottom: 35px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 18px;
   line-height: 1.7;
   color: #273D46;
   word-spacing: 3px;
}

.footer {
   width: 78%;
   margin: 0 auto;
}

.list {
   margin-bottom: 40px;
}

.list-item {
   line-height: 1.8;
   padding: 0 0 0 30px;
   font-size: 16px;
   background: url(image/check-icon.svg) left center/20px auto no-repeat;
}

.italic {
   font-style: italic;
   color: #80B7B3;
}

.bold {
   font-weight: 700;
}

.line-throught {
   text-decoration: line-through;
   color: rgba(39, 61, 70, 0.3);
}

.button-link {
   background-color: #80B7B3;
   display: inline-block;
   padding: 14px 25px;
   border-radius: 30px;
   color: white;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: 10px;
   box-shadow: 3px 5px 2px #5E6A70;
   margin: 0 0 60px;
   transition: background-color 0.15s ease-in;
}

.button-link span {
   padding: 0px 22px 0px 0px;
   background: url(image/Shape-2.svg) right top/15px auto no-repeat;
}

.button-link:hover {
   background-color: #275653;
}

.button-link:active {
   position: relative;
   top: 4px;
   left: 2px;
   box-shadow: 1px 1px 2px #5E6A70;
}